.landpage-image{
  background-image: url(/assets/img/background.jpg);
  height: 102vh;
}

.logo{
  text-align: center;
  display: block;
}

.center{
  text-align: center;
}

#icon_logo{
  margin-top: 7vh;
  max-height: 22.5vh;
}

#logo{
  margin-top: 2.5vh;
  font-size: 12vh;
  font-family: 'Heebo', sans-serif;
  color: #0e6eb8;
}

#login-form{
  margin-top: 3vh;
  text-align: center
}

nav img{
  max-height: 5vh;
}

#navbar .right.menu{
  padding-top: 1.5vh;
}

.header.item .vendo{
  margin-top: 0.5vh;
  font-family: 'Heebo', sans-serif;
}

.body{
  margin: 4vh;
}

.message{
  text-align: center;
  font-size: 2.5vh;
}

.footer.segment{
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  height: 5vh;
  padding: 1vh;
}

.footer a{
  color: #bdc3c7;
  text-align: center;
}

.segment p, th, td{
  font-size: 2.35vh;
}
